.MainMenu {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: fixed;
}


.MainMenu img {
    height: 60%;
    cursor: pointer;
}

.rightSideContent {
    display: flex;
    justify-content: space-around;
}

.rightSideContent div:not(:last-child) {
    margin-right: 20px;
}

.logo {
    font-family: 'Pacifico', 'Roboto', sans-serif;
    color: #FE6E6E;
    font-size: 36px;
    cursor: pointer;
    user-select: none;
    padding-bottom: 5px;
}