.MainMenu {
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #FEC46E;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

.MainMenu img {
    height: 60%;
}