.LogInPage {
    padding: 20px 30px;
    margin: 0 auto;
    background-color: rgb(96, 217, 125, 0.15);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.LogInPage h1 {
    font-family: 'Pacifico';
    color: #60D97D;
}