@import "src/variables.scss";

.NewKeyboard {
	border: 2px solid $gray3;
	background-color: $gray5;
	padding: 10px;
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	color: white;
}
