@import "src/variables.scss";

.NewKeyboard {
	border: 2px solid $gray3;
	background-color: white;
	border-radius: 5px;
	width: 50%;
	display: block;
	flex-direction: column;
	color: white;
	cursor: default;
	height: 50px;
}
