.SignUpPage {
    padding: 20px 30px;
    margin: 0 auto;
    background-color: rgb(110, 182, 254, 0.15);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.SignUpPage h1 {
    font-family: 'Pacifico';
    color: #6EB6FE;
}