@import "src/variables";

.SignUpPageContainer {
	min-height: 100vh;
	background-color: $gray6;
	display: flex;
	justify-content: center;
	// align-items: center;
}

.SignUpPage {
	padding: 100px 30px 20px 30px;
	margin: 0 auto;
	min-height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.SignUpPage h1 {
	font-family: "Pacifico";
	color: $red2;
}
