.SignUpPage {
    padding: 100px 30px 20px 30px;
    margin: 0 auto;
    background-color: rgba(191, 191, 191, 0.1);
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.SignUpPage h1 {
    font-family: 'Pacifico';
    color: #FE6E6E;
}

