@import "src/variables";

.LeftHandContainer {
	width: 100%;
	position: relative;
}

.LeftHand {
	position: relative;
	display: flex;
	justify-content: center;
}

.LeftHand img {
	width: 90%;
	filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
}
