@import "src/variables";

.Divider {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: $gray3;
}

.horizontalLine {
	background-color: $gray3;
	height: 2px;
	border-radius: 2px;
	width: 75px;
	margin: 0 !important;
}
