$borderWidth: 1px;

.Key {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    transition: .1s;
    color: #fff;
    position: relative;
}

.Key:not(:first-child) {
    margin-left: 10px;
}

.topRow,
.bottomRow {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topRow div,
.bottomRow div {
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centeredChar {

}

.redKey {
    background-color: #FE6E6E;
    border: $borderWidth solid #BF5252;
}
.redKey:hover {
    background-color: #BF5252;
    border: $borderWidth solid #BF5252;
}

.blueKey {
    background-color: #6EB6FE;
    border: $borderWidth solid #5289BF;
}
.blueKey:hover {
    background-color: #5289BF;
    border: $borderWidth solid #5289BF;
}

.greenKey {
    background-color: #60D97D;
    border: $borderWidth solid #439957;
}
.greenKey:hover {
    background-color: #439957;
    border: $borderWidth solid #439957;
}

.orangeKey {
    background-color: #FEC46E;
    border: $borderWidth solid #BF9452;
}
.orangeKey:hover {
    background-color: #BF9452;
    border: $borderWidth solid #BF9452;
}

.purpleKey {
    background-color: #CA6EFE;
    border: $borderWidth solid #9752BF;
}

.purpleKey:hover {
    background-color: #9752BF;
    border: $borderWidth solid #9752BF;
}

.grayKey {
    background-color: #BFBFBF;
    border: $borderWidth solid #777777;
}
.grayKey:hover {
    background-color: #777777;
    border: $borderWidth solid #777777;
}

.marker {
    position: absolute;
    top: 80%;
    left: 50%;
    margin-left: -8px;
    height: 3px;
    width: 16px;
    border-radius: 2px;
}

.hide {
    display: none;
}

.inActiveKey {
    background-color: #BFBFBF;
    border: $borderWidth solid #777777;
}

.orangeHover:hover {
    background-color: #FEC46E;
    border: $borderWidth solid #BF9452;
}

.redHover:hover {
    background-color: #FE6E6E;
    border: $borderWidth solid #BF5252;
}

.blueHover:hover {
    background-color: #6EB6FE;
    border: $borderWidth solid #5289BF;
}

.greenHover:hover {
    background-color: #60D97D;
    border: $borderWidth solid #439957;
}

.purpleHover:hover {
    background-color: #CA6EFE;
    border: $borderWidth solid #9752BF;
}

.inActiveHover:hover {
    background-color: #BFBFBF;
    border: $borderWidth solid #777777;
}

.orangeActive {
    background-color: #BF9452;
    border: $borderWidth solid #BF9452;
}

.redActive {
    background-color: #BF5252;
    border: $borderWidth solid #BF5252;
}

.blueActive {
    background-color: #5289BF;
    border: $borderWidth solid #5289BF;
}

.greenActive {
    background-color: #439957;
    border: $borderWidth solid #439957;
}

.purpleActive {
    background-color: #9752BF;
    border: $borderWidth solid #9752BF;
}

