@import "src/variables";

.orangeButton,
.redButton,
.blueButton,
.blackButton,
.greenButton,
.grayButton,
.whiteButton,
.purpleButton {
	border-radius: 3px;
	cursor: pointer;
	height: $btn-height1;
	padding: 2px 15px 0;
	text-transform: capitalize;
	user-select: none;
	transition: 0.2s;
	border-width: 1px;
	border-style: solid;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.orangeButton {
	border-color: $orange2;
	color: $orange2;
}

.redButton {
	border-color: $red2;
	color: $red2;
}

.blueButton {
	border-color: $blue2;
	color: $blue2;
}

.blackButton {
	border-color: $black;
	color: $black;
}

.greenButton {
	border-color: $green2;
	color: $green2;
}

.purpleButton {
	border-color: $purple2;
	color: $purple2;
}

.grayButton {
	border-color: $gray1;
	color: $gray1;
}

.whiteButton {
	border-color: white;
	color: white;
}

.orangeButton:hover {
	background-color: $orange6;
}

.redButton:hover {
	background-color: $red6;
}

.blueButton:hover {
	background-color: $blue6;
}

.blackButton:hover {
	background-color: $gray4;
}

.greenButton:hover {
	background-color: $green6;
}

.purpleButton:hover {
	background-color: $purple6;
}

.grayButton:hover {
	background-color: $gray5;
}

.whiteButton:hover {
	background-color: $gray5;
}
