@import "src/variables.scss";

.oneCharContainer,
.twoCharsContainer,
.threeCharsContainer,
.fourCharsContainer {
	border-width: 1px;
	border-style: solid;
	height: 100%;
	display: flex;
	position: relative;
}

.oneCharContainer div,
.twoCharsContainer div,
.threeCharsContainer div,
.fourCharsContainer div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.marker {
	position: absolute;
	top: 80%;
	left: 50%;
	border-radius: 10px;
}

.oneCharContainer {
	justify-content: center;
	align-items: center;
}

.twoCharsContainer {
	justify-content: center;
	flex-direction: column-reverse;
	justify-content: space-evenly;
}

.threeCharsContainer {
	flex-wrap: wrap;
}

.threeCharsContainer div:nth-child(1) {
	flex-basis: 100%;
	order: 3;
}

.threeCharsContainer div:nth-child(2),
.threeCharsContainer div:nth-child(3) {
	flex: 1;
}

.threeCharsContainer div:nth-child(2) {
	justify-content: flex-end;
	margin-right: 2px;
}

.threeCharsContainer div:nth-child(3) {
	justify-content: flex-start;
	margin-left: 2px;
}

.fourCharsContainer {
	flex-wrap: wrap;
}

.fourCharsContainer div {
	flex: 1;
	flex-basis: 50%;
}

.fourCharsContainer div:nth-child(1),
.fourCharsContainer div:nth-child(3) {
	justify-content: flex-end;
	margin-right: 2px;
}

.fourCharsContainer div:nth-child(2),
.fourCharsContainer div:nth-child(4) {
	justify-content: flex-start;
	margin-left: 2px;
}

@media screen and (min-width: 700px) {
	// .oneCharContainer,
	// .twoCharsContainer,
	// .threeCharsContainer,
	// .fourCharsContainer {
	// 	padding: 4px;
	// }

	.threeCharsContainer div:nth-child(2) {
		margin-right: 4px;
	}

	.threeCharsContainer div:nth-child(3) {
		margin-left: 4px;
	}

	.fourCharsContainer div:nth-child(1),
	.fourCharsContainer div:nth-child(3) {
		margin-right: 4px;
	}

	.fourCharsContainer div:nth-child(2),
	.fourCharsContainer div:nth-child(4) {
		margin-left: 4px;
	}
}
