@import "src/variables.scss";

.oneCharContainer,
.twoCharsContainer,
.threeCharsContainer,
.fourCharsContainer {
	border-width: 1px;
	border-style: solid;
	height: 100%;
	// flex: 1;
	display: flex;
}

.oneCharContainer div,
.twoCharsContainer div,
.threeCharsContainer div,
.fourCharsContainer div {
	display: flex;
	align-items: center;
	justify-content: center;
}

.oneCharContainer {
	justify-content: center;
	align-items: center;
}

.twoCharsContainer {
	justify-content: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.threeCharsContainer {
	flex-wrap: wrap;
}

.threeCharsContainer div:nth-child(1) {
	flex-basis: 100%;
}

.threeCharsContainer div:nth-child(2),
.threeCharsContainer div:nth-child(3) {
	flex: 1;
}

.threeCharsContainer div:nth-child(2) {
	justify-content: flex-end;
	padding-right: 2px;
}

.threeCharsContainer div:nth-child(3) {
	justify-content: flex-start;
	padding-left: 2px;
}

.fourCharsContainer {
	flex-wrap: wrap;
}

.fourCharsContainer div {
	flex: 1;
	flex-basis: 50%;
}

.fourCharsContainer div:nth-child(1),
.fourCharsContainer div:nth-child(3) {
	justify-content: flex-end;
	padding-right: 2px;
}

.fourCharsContainer div:nth-child(2),
.fourCharsContainer div:nth-child(4) {
	justify-content: flex-start;
	padding-left: 2px;
}

@media screen and (min-width: 700px) {
	.oneCharContainer,
	.twoCharsContainer,
	.threeCharsContainer,
	.fourCharsContainer {
		padding: 5px;
	}

	.threeCharsContainer div:nth-child(2) {
		padding-right: 4px;
	}

	.threeCharsContainer div:nth-child(3) {
		padding-left: 4px;
	}

	.fourCharsContainer div:nth-child(1),
	.fourCharsContainer div:nth-child(3) {
		padding-right: 4px;
	}

	.fourCharsContainer div:nth-child(2),
	.fourCharsContainer div:nth-child(4) {
		padding-left: 4px;
	}
}
