@import "src/variables";

.orangeButton,
.redButton,
.blueButton,
.blackButton,
.greenButton,
.whiteButton,
.purpleButton {
	border-radius: 3px;
	cursor: pointer;
	height: $btn-height1;
	padding: 2px 15px 0;
	text-transform: capitalize;
	user-select: none;
	transition: 0.2s;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-width: 1px;
	border-style: solid;
}

.orangeButton {
	border-color: $orange1;
	background-color: $orange2;
}

.redButton {
	border-color: $red1;
	background-color: $red2;
}

.blueButton {
	border-color: $blue1;
	background-color: $blue2;
}

.blackButton {
	border-color: $black;
	background-color: $gray1;
}

.greenButton {
	border-color: $green1;
	background-color: $green2;
}

.purpleButton {
	border-color: $purple1;
	background-color: $purple2;
}

.whiteButton {
	color: $red2;
	background-color: white;
	border-color: $red2;
}

.orangeButton:hover {
	background-color: $orange1;
}
.redButton:hover {
	background-color: $red1;
}
.blueButton:hover {
	background-color: $blue1;
}
.blackButton:hover {
	background-color: $gray1;
}
.greenButton:hover {
	background-color: $green1;
}
.purpleButton:hover {
	background-color: $purple1;
}

.whiteButton:hover {
	background-color: $red2;
	color: white;
}
