@import "src/variables";

.QuickContestPageContainer {
	min-height: 100vh;
	background-color: $gray6;
	display: flex;
	justify-content: center;
	// align-items: center;
}

.QuickContestPage {
	padding: 100px 30px 60px 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.QuickContestPage h1 {
	font-family: "Pacifico";
	color: $red2;
}

.durationValue {
	font-weight: 400;
	color: $red2;
	background-color: inherit;
}
