.FeedbackPage {
    padding: 20px 30px;
    margin: 0 auto;
    background-color: #232323;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.FeedbackPage h1 {
    font-family: 'Pacifico';
    color: #fff;
}