@import "src/variables";

.FeedbackPage {
	padding: 100px 30px 20px 30px;
	margin: 0 auto;
	background-color: $gray6;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}

.FeedbackPage h1 {
	font-family: "Pacifico";
	color: $red2;
}
