@import "src/variables";

.GoogleAuthButton {
	height: $btn-height2;
	background-color: #518ef8;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	color: white;
	font-size: $fontSize2;
	border-radius: 2px;
	user-select: none;
	cursor: pointer;
	border: none;
	outline-color: #3d6ab8;
	padding-top: 1px;
}

.iconContainer {
	background-color: white;
	border-radius: 2px;
	height: 24px;
	width: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 5px;
	top: 5px;
}

.iconContainer img {
	height: 74% !important;
	margin: 0 !important;
}

.GoogleAuthButton:hover {
	background-color: #3d6ab8;
}
