.ContestPage {
    padding: 20px 30px;
    margin: 0 auto;
    background-color: rgb(202, 110, 254, 0.15);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
}

.ContestPage h1 {
    font-family: 'Pacifico';
    color: #CA6EFE;
}