@import "src/variables";

.SubmitButton {
	border-radius: 2px;
	background-color: $red2;
	border: none;
	color: white;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $fontSize2;
	height: $btn-height2;
	outline-color: $red1;
	padding-top: 1px;
	user-select: none;
}

.SubmitButton:hover {
	background-color: $red1;
}
