.Keyboard {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #bfbfbf;
}

.row {
    display: flex;
}

.row:not(:first-child) {
    margin-top: 10px;
}