.Keyboard {
    background-color: #BFBFBF;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #777777;
}

.row {
    display: flex;
}

.row:not(:first-child) {
    margin-top: 10px;
}