@import "src/variables";

.HomePageContainer {
	display: flex;
	height: calc(100vh - 80px);
	width: 100vw;
	margin-top: 80px;
	padding-top: 20px;
	justify-content: center;
	background-color: $gray6;
}

.HomePage {
	height: fit-content;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.mappingText {
	background-color: transparent;
	margin-bottom: 6px;
	color: $black;
	font-weight: 400;
}

.settings {
	display: flex;
	margin: 0 auto;
}

.setting {
	display: flex;
	flex-direction: column;
}

.setting:not(:last-child) {
	margin-right: 25px;
}

@media (min-height: 750px) {
	.HomePageContainer {
		width: 100vw;
		margin-top: 80px;
		justify-content: center;
		align-items: center;
		padding-top: 0;
	}
}
