.FrontPage {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px 0 20px 0;
    text-align: center;
    background-color: rgb(191, 191, 191, 0.1);
}

.mappingText {
    background-color: transparent;
    margin-bottom: 6px;
    color: #232323;
    font-weight: 400;
}

.settings {
    display: flex;
    margin: 0 auto;
}

.setting {
    display: flex;
    flex-direction: column;
}

.setting:not(:last-child) {
    margin-right: 25px;
}