// --- BUTTONS ---
$btn-height1: 30px;
$btn-height2: 40px;


// -- OTHER ---
$transition-time1: 0.2s;
$transition-time2: 0.4s;


// --- COLORS ---
$red1: #BF5252;
$red2: #FE6E6E;
$red3: #FE8B8B;
$red4: #FEA8A8;
$red5: #FFC5C5;
$red6: #FFE2E2;
$red7: #FFF0F0;

$blue1: #5289BF;
$blue2: #6EB6FE;
$blue3: #8BC5FE;
$blue4: #A8D3FE;
$blue5: #C5E2FF;
$blue6: #E2F0FF;
$blue7: #F0F8FF;

$yellow1: #BF9452;
$yellow2: #FEC46E;
$yellow3: #FED08B;
$yellow4: #FEDCA8;
$yellow5: #FFE7C5;
$yellow6: #FFF3E2;
$yellow7: #FFF9F0;

$purple1: #9752BF;
$purple2: #CA6EFE;
$purple3: #D58BFE;
$purple4: #DFA8FE;
$purple5: #EAC5FF;
$purple6: #F4E2FF;
$purple7: #FAF0FF;

$green1: #60D97D;
$green2: #439957;
$green3: #80E197;
$green4: #A0E8B1;
$green5: #BFF0CB;
$green6: #DFF7E5;
$green7: #EFFBF2;