// --- BUTTONS ---
$btn-height1: 30px;
$btn-height2: 34px;

// --- FONT ---
$fontSize1: 12px;
$fontSize2: 15px;
$fontSize3: 20px;
$fontSize4: 30px;
$fontSize5: 40px;

// --- KEYBOARD ---
$key-space: 1%;

// -- OTHER ---
$transition-time1: 0.2s;
$transition-time2: 0.4s;

// --- COLORS ---
$red1: #bf5252;
$red2: #fe6e6e;
$red3: #fe8b8b;
$red4: #fea8a8;
$red5: #ffc5c5;
$red6: #ffe2e2;
$red7: #fff0f0;

$blue1: #5289bf;
$blue2: #6eb6fe;
$blue3: #8bc5fe;
$blue4: #a8d3fe;
$blue5: #c5e2ff;
$blue6: #e2f0ff;
$blue7: #f0f8ff;

$orange1: #bf9452;
$orange2: #fec46e;
$orange3: #fed08b;
$orange4: #fedca8;
$orange5: #ffe7c5;
$orange6: #fff3e2;
$orange7: #fff9f0;

$purple1: #9752bf;
$purple2: #ca6efe;
$purple3: #d58bfe;
$purple4: #dfa8fe;
$purple5: #eac5ff;
$purple6: #f4e2ff;
$purple7: #faf0ff;

$green1: #439957;
$green2: #60d97d;
$green3: #80e197;
$green4: #a0e8b1;
$green5: #bff0cb;
$green6: #dff7e5;
$green7: #effbf2;

$black: #232323;
$gray1: #4f4f4f;
$gray2: #7b7b7b;
$gray3: #a7a7a7;
$gray4: #d3d3d3;
$gray5: #e9e9e9;
$gray6: #f8f8f8;
